@using BankApp.Models
@model List<BankApp.Models.Transaction>

@{
    ViewBag.Title = "title";
}

<h2>Solde : @ViewBag.Solde€</h2>
<hr/>
<h3>Historique des transaction</h3>
<table class="table">
    <thead>
    <tr>
        <td></td>
        <td><h3>Debit</h3></td>
        <td><h3>Credit</h3></td>
    </tr>
    </thead>
    <tbody>
    @foreach (var transaction in Model)
    {
        <tr>
            <td>@transaction.Label</td>
            @switch (transaction.TransactionType)
            {
                case TransactionType.DEBIT:
                    <td>@transaction.Amount €</td>
                    <td> - </td>
                    break;
                case TransactionType.CREDIT:
                    <td> - </td>
                    <td>@transaction.Amount €</td>
                    break;
            }
        </tr>
    }
    </tbody>
</table>
