@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Espace Client";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Consulter transactions ", "../Customers/Create")
</p>
<p>
    @Html.ActionLink("Faire un virment ", "../Customers/Virement")
</p>
<p>
    @Html.ActionLink("Simuter demande ", "../Customer/Simulate")
</p>
<p>
    @Html.ActionLink("Imprimer RIB ", "../Customer/PrintRIB")
</p>