@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Espace Client";
}
<h2>Espace Client</h2>
<p>
    @Html.ActionLink("Consulter transactions", "Transactions", "Transaction")
</p>
<p>
    @Html.ActionLink("Faire un virement ", "Transfer", "Transaction")
</p>
<p>
    @Html.ActionLink("Simuter demande ", "SimulateCredit", "Customer")
</p>
<p>
    @Html.ActionLink("Imprimer RIB ", "PrintRIB", "Customer")
</p>