@model List<BankApp.Models.Account>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Comptes")<br />
        @Html.DropDownList("Compte", Model.Select(account => new SelectListItem
   {
       Text = account.ID.ToString(),
       Value = account.ID.ToString()
   }).ToList(), new { @class = "form-control"})
       
    </div>

    <div id="PrintRIB">
        <div id="divRIB">
            <div class="jumbotron">
                <div id="rib">
                    <h5>
                        <b> Acount number : </b>
                        <sapn id="acNum"></sapn>
                    </h5>

                    <h5>
                        <b> Client id :  </b>
                        <sapn id="idCustomer"></sapn>
                    </h5>
                    <h5>
                        <b>Client FHirstName :</b>
                        <sapn id="fname"></sapn>
                        <h5>
                            <b>Client LastName :</b>
                            <sapn id="lname"></sapn>
                        </h5>
                        <hr />
                        <h5>
                            <b>  BIC :</b>
                            <sapn id="bic"></sapn>
                            <b>   IBAN :</b>
                            <sapn id="iban"></sapn>
                        </h5>
                </div>
                <button id="printRIB">Print RIB</button>
            </div>
        </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
        <script>
            $(function () {
                $("#divRIB").hide();
                $("#printRIB").click(function (e) {
                    e.preventDefault();
                    Export();
                })
                $("#Compte").change(function (e) {

                    e.preventDefault();
                    $.get(
                        "/Customer/PrintRIBByAccount",
                        { id: $(this).val() },
                        function (data) {
                            $("#divRIB").show();
                            if (data.FirstName) {
                                $("#fname").text(data.FirstName);
                            }
                            if (data.LastName) {
                                $("#lname").text(data.LastName);
                            }
                            if (data.AccountNumber) {
                                $("#acNum").text(data.AccountNumber);
                            }
                            if (data.CustomerID) {
                                $("#idCustomer").text(data.CustomerID);
                            }
                            if (data.BIC) {
                                $("#ric").text(data.BIC);
                            }
                            if (data.IBAN) {
                                $("#iban").text(data.IBAN);
                            }
                        },
                        "json"
                    );
                });
            });
     
            function Export() {
                var pdf = new jsPDF('portrait', 'pt', 'a4');
                pdf.text(50, 50, "RIB");
                source = document.getElementById('PrintRIB').innerHTML;
                specialElementHandlers = {
                    '#bypassme': function (element, renderer) {
                        return true
                    }
                };

                pdf.fromHTML(source, 50, 50, {
                    'width': 250,
                    'elementHandlers': specialElementHandlers
                });
                pdf.save('RIB.pdf');

            }
        </script>
        }

